.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5x 5px gray;
    }
    
    .heading_div {
        float:none;
        background: white;
        padding: 10px;
        border-radius: 20px;
        color: black;
        box-shadow: 5px 5px 5px gray;
    }
    
    .heading_div_2 {
        font-size: 18px;
    }

    img {
        height: 200px;
        width: 200px;
    }